# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Artemis/.vs/
Artemis/Project/obj/
Sample/.vs/
Sample/Project/obj/
Sample/Exe/Sample.iobj
Sample/Exe/Sample.ipdb
Sample/Exe/Sample.pdb
Sample/Exe/SampleD.ilk
Sample/Exe/SampleD.pdb
